
.itemsTable .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	 /* padding-bottom: 10%;  */
}

.itemsTable .title{
    padding-bottom: 20px;
}
.itemsTable .tools{
	display: flex;
}

.itemsTable .tools button{
	padding: .5rem 1rem;
	margin: 0.5rem 0;
	background-color: #342056;
	border: 1px solid #342056;
	color: #f8f8f8;
	font-size: 1.1rem;
	font-weight: 500;
	border-radius: 4px;
	margin-left: auto;
  }
  
.itemsTable .tools button:hover{
	background-color: #47dcff;
	border: 1px solid #47dcff;
}

.itemsTable .tools .search  input{

	padding: .5rem 1rem;
	margin: 0.5rem 0;
	border: 1px solid #ccc;  
	font-size: 1.1rem;
	border-radius: 4px;

}

.itemsTable .pages{
    text-align: center;
    align-items: center;
    justify-content: center;
  }


table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead th{

	background-color: #55608f;

}

tbody tr:hover{
	background-color: rgba(255,255,255,0.3);
}
